In [67]:
import pandas as pd
import numpy as np

In [52]:
sets_onerow = pd.read_csv("set_data_w207.csv", nrows=1)

In [78]:
list(sets_onerow)

['Unnamed: 0',
 '_id',
 'deleted',
 'endTime',
 'exercise',
 'initialStartTime',
 'metric',
 'removed',
 'rpe',
 'setID',
 'setNumber',
 'startTime',
 'tags',
 'userID',
 'weight',
 'workoutID',
 'exercise_valid',
 'exercise_dirty']

In [306]:
set_columns_keep = ['endTime', 'exercise', 'initialStartTime',
 'metric', 'rpe', 'setID', 'setNumber', 'startTime', 'tags', 
 'userID', 'weight', 'workoutID']
set_converters={"endTime": pd.to_datetime, 
                "startTime": pd.to_datetime,
                "initialStartTime": pd.to_datetime}

In [307]:
sets = pd.read_csv("set_data_w207.csv", 
                   usecols=set_columns_keep, 
                   converters=set_converters)
sets.shape

(68157, 12)

In [308]:
for c in list(sets):
    print(c, sets[c].dtype)

endTime datetime64[ns]
exercise object
initialStartTime datetime64[ns]
metric object
rpe object
setID object
setNumber float64
startTime datetime64[ns]
tags object
userID object
weight object
workoutID object

In [309]:
sets.head()

,endTime,exercise,initialStartTime,metric,rpe,setID,setNumber,startTime,tags,userID,weight,workoutID
0,NaT,Bench,2018-01-03 01:29:46.904,kgs,7.5,000051e0-54b2-48d8-98d2-79f65505c3e6,3.0,NaT,[],5a2e998b05cbc9b8ef26ac7e,87.5,5bac5444-7c37-49d0-be8e-32be1a09fbb1
1,NaT,bench,2018-04-25 22:00:26.162,lbs,NaN,0000d1a9-9437-48af-85af-62075adf8e97,9.0,NaT,['red band'],58fbcaf26ca711fcd8cb7b6f,185,c3591d5c-245e-4137-9f9d-fcfa536f2bb3
2,NaT,Bench,2018-02-28 08:57:02.275,kgs,"8,5",0000f994-9d3f-421a-9305-41759564f8af,5.0,NaT,[],595facd66ca711fcd8cb7ba8,100,3d17321e-398d-4f4f-bf4b-7b15ba5dbce9
3,NaT,bench,2018-03-21 18:56:40.974,lbs,9,00018509-ec9f-4722-8bbd-05977bb8826c,5.0,NaT,['belt'],59b5542b85ea1c6b42e4b20d,175,9d29a049-1771-4061-9166-bb862dabf778
4,NaT,Bench,2017-11-22 21:36:57.228,lbs,NaN,0001ecf4-1fa2-4e01-a51a-968ddac6509a,4.0,NaT,['Warm-Up'],59d2a2e885ea1c6b42e4b2a0,135,6db4cc37-985c-4a2f-9793-4bddb3aee25f

In [41]:
reps_new_onerow = pd.read_csv("rep_data_w207_new.csv", nrows=1)
list(reps_new_onerow)

['Unnamed: 0',
 'setID',
 'RepCount',
 'isValid',
 'removed',
 'hardware',
 'appVersion',
 'deviceName',
 'deviceIdentifier',
 'time',
 'StartMessg',
 'RepN',
 'AvgVel',
 'ROM',
 'PeakVel',
 'PeakVelLoc',
 'PeakAccel',
 'RepDur',
 'TimeBWReps',
 'TimeRepComp',
 'TimeRepWait',
 'SlowAllow',
 'Backlight']

In [174]:
rep_columns_keep = ['setID', 'RepCount', 'RepN', 'AvgVel', 'ROM',
 'PeakVel', 'PeakVelLoc', 'PeakAccel', 'RepDur', 'TimeBWReps', 'TimeRepComp', 'TimeRepWait', 'SlowAllow']

In [204]:
reps_new = pd.read_csv("rep_data_w207_new.csv", 
                       usecols=rep_columns_keep,
                       na_values = "Infinity")
reps_old17 = pd.read_csv("rep_data_w207_old17.csv",  
                       usecols=rep_columns_keep,
                       na_values = "Infinity")
reps_old19 = pd.read_csv("rep_data_w207_old19.csv", 
                       usecols=rep_columns_keep,
                       na_values = "Infinity")

In [205]:
reps_new.shape, reps_old17.shape, reps_old19.shape

((241761, 13), (8306, 13), (16113, 13))

In [206]:
reps_all = pd.concat([reps_new, reps_old17, reps_old19])
reps_all.shape

(266180, 13)

In [217]:
sum(pd.isna(reps_all["AvgVel"]))

19

In [310]:
full_data = sets.merge(reps_all, on = "setID", how = "left")
full_data.shape

(267364, 24)

In [311]:
full_data.head()

,endTime,exercise,initialStartTime,metric,rpe,setID,setNumber,startTime,tags,userID,...,AvgVel,ROM,PeakVel,PeakVelLoc,PeakAccel,RepDur,TimeBWReps,TimeRepComp,TimeRepWait,SlowAllow
0,NaT,Bench,2018-01-03 01:29:46.904,kgs,7.5,000051e0-54b2-48d8-98d2-79f65505c3e6,3.0,NaT,[],5a2e998b05cbc9b8ef26ac7e,...,0.258460,252.0,0.308408,37.0,11.073610,978699.0,0.0,1.752134e+09,0.0,130000.0
1,NaT,Bench,2018-01-03 01:29:46.904,kgs,7.5,000051e0-54b2-48d8-98d2-79f65505c3e6,3.0,NaT,[],5a2e998b05cbc9b8ef26ac7e,...,0.273285,250.0,0.368293,72.0,0.714399,915894.0,0.0,1.754801e+09,0.0,130000.0
2,NaT,Bench,2018-01-03 01:29:46.904,kgs,7.5,000051e0-54b2-48d8-98d2-79f65505c3e6,3.0,NaT,[],5a2e998b05cbc9b8ef26ac7e,...,0.268205,263.0,0.378763,72.0,0.730685,983460.0,0.0,1.757625e+09,0.0,130000.0
3,NaT,Bench,2018-01-03 01:29:46.904,kgs,7.5,000051e0-54b2-48d8-98d2-79f65505c3e6,3.0,NaT,[],5a2e998b05cbc9b8ef26ac7e,...,0.268338,252.0,0.392775,72.0,0.923557,942963.0,0.0,1.760793e+09,0.0,130000.0
4,NaT,Bench,2018-01-03 01:29:46.904,kgs,7.5,000051e0-54b2-48d8-98d2-79f65505c3e6,3.0,NaT,[],5a2e998b05cbc9b8ef26ac7e,...,0.254381,250.0,0.389622,77.0,0.827607,983978.0,0.0,1.764224e+09,0.0,130000.0

In [312]:
sum(pd.isna(full_data["AvgVel"]))

1203

In [404]:
full_data.loc[pd.isna(full_data["AvgVel"])].head()

,endTime,exercise,initialStartTime,metric,rpe,setID,setNumber,startTime,tags,userID,...,AvgVel,ROM,PeakVel,PeakVelLoc,PeakAccel,RepDur,TimeBWReps,TimeRepComp,TimeRepWait,SlowAllow
38,2017-05-12 21:19:17.105,Deadlift,NaT,lbs,NaN,0007cd3d-a087-4314-9ce9-37543d660710,6.0,2017-05-12 21:19:01.088,NaN,58fbcaf26ca711fcd8cb7b6f,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
619,NaT,Front Squat,2017-10-28 15:35:54.545,kgs,NaN,009547e8-9762-452b-bc08-4125e40aa7f0,1.0,NaT,[],595facd66ca711fcd8cb7ba8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
971,NaT,Sumo Deadlift,2018-01-06 22:20:04.989,lbs,NaN,00f45183-5187-4605-a450-9a821be826d1,5.0,NaT,['Belt'],59ab297785ea1c6b42e4b1d7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1015,NaT,Squat,2018-01-16 02:01:06.049,lbs,NaN,01023b83-376f-43a2-86fd-dcb1950a09f2,2.0,NaT,[],59b8431d85ea1c6b42e4b228,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1136,NaT,Squat,2017-10-23 07:59:08.469,kgs,7.5,012bace5-b1f3-435e-8b8d-a3f9f71318d1,2.0,NaT,['3'],59e567e805cbc9b8ef26ac24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [322]:
full_data_clean = full_data[pd.notna(full_data["AvgVel"])]
full_data_clean.shape

(266161, 24)

In [315]:
list(full_data_clean)

['endTime',
 'exercise',
 'initialStartTime',
 'metric',
 'rpe',
 'setID',
 'setNumber',
 'startTime',
 'tags',
 'userID',
 'weight',
 'workoutID',
 'RepCount',
 'RepN',
 'AvgVel',
 'ROM',
 'PeakVel',
 'PeakVelLoc',
 'PeakAccel',
 'RepDur',
 'TimeBWReps',
 'TimeRepComp',
 'TimeRepWait',
 'SlowAllow']

In [316]:
exercises, count = np.unique(full_data_clean["exercise"].str.lower().str.strip(), return_counts = True)

In [317]:
top = 50
for ex, c in zip(exercises[np.argsort(-count)][:top],count[np.argsort(-count)][:top]):
    print(ex, c)

bench 87324
squat 66040
deadlift 22517
sumo deadlift 12886
back squat 11579
front squat 6840
bench press 6096
close grip bench 2965
incline bench 2962
low bar squat 2769
ssb squat 2429
goblet squat 1241
bp 1071
pause bench 1066
squats 1033
trap bar deadlift 912
speed squats 871
pause squat 842
box squat 788
bench - full width - comp 773
low-bar squat 703
squat - low bar 686
cg bench 681
incline bench press 662
pin squat 595
touch-and-go bench press 590
high bar squat 588
deficit deadlift 573
deadlift rackpull 11” 558
conventional deadlift 536
squat ssb box 15” 479
pause bp +belt 441
vee squat 38 super cent 410
wide grip bench 405
split squat 399
high-bar squat 395
tasha bench pin press 360
tng bench 346
duffalo bench 345
tasha bench ram 337
bench - full width - towel - comp 333
slingshot bench 326
trapbar deadlift 324
deficit bench 312
vee squat 306
bench - full width - 0/0/0 303
speed bench 293
1 leg squat 292
bench wide grip 291
vee bench daddy 283

In [403]:
bench_clean = ['bench', 'bench press', 'bp', 'competition bench', 'comp bench']
squat_clean = ['squat', 'back squat', 'competition squat', 'comp squat']
deadlift_clean = [ "deadlift", "sumo deadlift", "conventional deadlift",
                  "comp deadlift", "competition deadlift"]
exercises_dirty = full_data_clean["exercise"].str.lower().str.strip().tolist()
#exercises_clean = np.empty(full_data_clean.shape[0], dtype = str)
exercises_clean = ['']*full_data_clean.shape[0]

for i in range(full_data_clean.shape[0]):
    if exercises_dirty[i] in bench_clean:
        exercises_clean[i] = "bench"
    elif exercises_dirty[i] in squat_clean:
        exercises_clean[i] = "squat"
    elif exercises_dirty[i] in deadlift_clean:
        exercises_clean[i] = "deadlift"
    elif "squat" in exercises_dirty[i]:
        exercises_clean[i] = "squat other"
    elif "bench" in exercises_dirty[i]:
        exercises_clean[i] = "bench other"
    elif "bp" in exercises_dirty[i]:
        exercises_clean[i] = "bench other"
    elif "deadlift" in exercises_dirty[i]:
        exercises_clean[i] = "deadlift other"
    else:
        exercises_clean[i] = ""

i, j = np.unique(exercises_clean, return_counts = True)
for k in range(i.shape[0]):
    print(i[k], j[k])

bench 94641
bench other 22691
deadlift 35970
deadlift other 4763
squat 77651
squat other 30445

In [401]:
full_data_clean = full_data_clean.assign(exercise_clean = exercises_clean)